@font-face{
    font-family: Garamont;
    src:url(`Fonts/garamond/Garamond.ttf`) format('truetypes') local();
}
*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('Imagens/9723166.jpg');
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    font-family: sans-serif;
    background-color: white;
    font-size: 100%;
    vertical-align: baseline;
    line-height: 1;

}
main{
    background-color: white;
    width: 80%;
    box-shadow: 5px 5px 10px red;
}
.cabecalho{
    width: 100%;
    text-align: left;
    font-size: 100%;
    margin: 1px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

.Botoes{
    display: block;
    box-sizing: border-box;
    height: 1.5em;
    padding: 0.2em;
    font-family: Garamond;
    font-size: clamp(2.0em, 2.5vw, 2.5em);
    box-shadow: 2px 2px 2px blue;
}
.container {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    padding: 7em;
}
.texto {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-items: flex-end;
    flex-shrink: 1;
}
.Imagem{
    display: flex;
    width: 35%;
    height: auto;
    max-width: 20em;
    min-width: 10em;
    box-sizing: border-box;
    overflow:visible;
}
.Imagem img{
    width: 100%;
    transition: transform 0.4s ease;
    display: block;
    object-fit: contain;
}
.Imagem:hover img{
    max-width: 40em;
    width: 100%;
    height: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.0);
    z-index: 999;
}
.img1{
    box-sizing: border-box;
    width: 300px;
    height: auto;
    overflow: hidden;
}
.t1{
    height: 200px;
    text-align: center;
}
h1{
    text-align: left;
}
h2{
    text-align: left;
    font-size: 20px;
}
.contato{
    padding: 40px 50px;
    border-radius: 10px;
    box-shadow: 0 0 15 px rgba(0, 0, 0, 0.1);
}
form{
    display:flex;
    padding: 50px;
    flex-direction: column;
    p{
        font-weight: bolder;
        font-size: larger;
    }
    label{
    font-weight: bolder;
    margin-bottom: 5px;
    }
    input{
        padding: 10px;
        cursor:pointer
    }
    #comentario{
        height: 15em;
    }
    input[type="submit"]{
        background-color: red;
        transition: background-color 0.3s ease;
    }
    input[type="submit"]:hover{
        background-color: green;
    }

}
footer{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: smaller;
    text-align: center;
}